<header>
  <div class="sidebar">
    <a href=""><span class="icon"><img src="casa.png"></span><span class="text">Início</span></a>
    <a href="#"><span class="icon"><img src="dashboard.png"></span><span class="text">Dashboard</span></a>
    <a href="#"><span class="icon">⚙️</span><span class="text">Configurações</span></a>
  </div>
</header>
    




 
  <main>
  
    <div>  
      <img src="ranger.png" alt="ranger png">
    </div>

    <div class="popUp">
      <h1></h1>
      <h5 style="margin: 12px; font-style: bold;">Sistemas de dados FORD</h5>
      <hr>
      <section class="divSection" style="margin: 10px;">Seja bem-vindo(a)!</section>
    </div>
  </main>


  <footer>
    <nav id="social">
        <ul>
            <li class="ajuste-li"><span>Nossas Redes Sociais!</span></li>
            <li class="ajuste-li"><a href="https://www.facebookcom/FordBrasil/?locale=pt_BR" title="Facebook" ><img src="facebook-icon-black-seeklogo.png"></a></li>
            <li class="ajuste-li"><a href="https://www.instagram.com/fordbrasil/" title="Instagram" ><img src="instagram-logo.png"></a></li>
            <li class="ajuste-li"><a href="https://www.youtube.com/fordbrasil" title="YouTube" ><img src="youtube-123.png"></a></li>
        </ul>
    </nav>
            <div>
              <img src="ford.png"/>
           </div>
            
</footer>
