main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('https://images8.alphacoders.com/411/411302.jpg') no-repeat center center fixed;
  background-size: cover;
}

.feedback-container {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(20px);
  color: #fff;
  padding: 20px;
  border-radius: 15px;
  width: 390px;
  text-align: center;
  position: relative;
  box-shadow: 0 8px 32px rgba(102, 99, 99, 0.5);
  border: 1px solid rgba(255,255,255,0.2);
}

.feedback-container h3 {
  margin-bottom: 10px;
}


.option-ajuste{
  width: 100%;
  height: 60px;
  margin: 15px 0;
  border: none;
  border-radius: 10px;
  padding: 10px;
  resize: none;
  background: rgba(189, 189, 189, 0.1);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  box-shadow: 0 4px 20px rgba(248, 248, 248, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
}




textarea {
  width: 100%;
  height: 60px;
  margin: 15px 0;
  border: none;
  border-radius: 10px;
  padding: 10px;
  resize: none;
  background: rgba(189, 189, 189, 0.1);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  color: #fff;
  box-shadow: 0 4px 20px rgba(248, 248, 248, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
}


button {
  background: rgba(0, 170, 255, 0.8);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s, box-shadow 0.3s, transform 0.2s;
}

button:hover {
  background: rgba(0, 142, 204, 0.9);
  box-shadow: 0 0 10px rgba(0, 170, 255, 0.7);
  transform: scale(1.05);
}


.popup {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.6);
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-content {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  color: white;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);
}

.popup-icon {
  font-size: 40px;
  margin-bottom: 10px;
}


.navbar {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 1rem 2rem;
  border-radius: 50px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  z-index: 10; 
}

.navbar ul {
  display: flex;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar ul a {
  position: relative;
  color: black;  
  text-decoration: none;
  overflow: hidden;
  font-weight: bold;
}


.navbar:hover a:not(:hover) {
  opacity: 0.2;
  transition: opacity 0.3s ease;
}

.ng-valid.ng-dirty.ng-touched {
  color: black;
}

.footer-logo{
  width: 100px;
  height: 45px;
  align-items: right;
  justify-content: right;
  margin-top: 10px;

}




.footer-container {
  width: 100%;
  background-color: #1A3375;
  color: #f1f1f1;
  display: flex;
  justify-content: space-around;
  padding: 10px 30px;
  flex-wrap: wrap;
  font-family: Arial, sans-serif;
  border-top: 2px solid black;

}

.footer-column {
  flex: 1;
  min-width: 250px;
  margin: 10px;
  color: #BDC6D3;
}

.footer-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-underline {
  width: 40px;
  height: 3px;
  background-color: black;
  border: none;
  margin-bottom: 15px;
}

.footer-text {
  margin: 8px 0;
  font-size: 14px;
  line-height: 1.5;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin: 8px 0;
}

.footer-links a {
  color: #f1f1f1;
  text-decoration: none;
  transition: color 0.2s ease;
}

.footer-links a:hover {
  color: #D9A15C;
}

.social-icons {
  margin-top: 10px;
  display: flex;
  gap: 12px;
}

.social-icons img {
  width: 32px;
  height: 32px;
  background-color: rgba(38, 38, 160, 0.877);
  padding: 8px;
  border-radius: 50%;
  transition: transform 0.2s ease;
}

.social-icons img:hover {
  transform: scale(1.1);
}

.footer-icon {
  width: 18px;
  margin-right: 8px;
  vertical-align: middle;
}



.footer-bottom {
  width: 100%;
  text-align: center;
  padding-top: 30px;
  font-size: 13px;
  color: #d9d9d9;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}



